<%- include("layout/head.ejs") %>
</head>
<body>
    <%- include("layout/navigation.ejs") %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <main>
                    <h1>Page Not found</h1>
                </main>
            </div>
        </div>
       
    </div>
    
    <%- include("layout/footer.ejs") %>