<%- include("layout/head.ejs") %>

    </head>

    <body>
        <%- include("layout/navigation.ejs") %>
            <main>
                <section class="home">
                    <div class="content">
                        <h1 style="font-family: serif; color: rgb(127, 172, 255); font-weight: 500; font-size: 300%;">Welcome</h1>
                        <h2>The Book House</h2>
                        <p style="font-style: normal;"> 
                            Welcome to the Book House, where every page holds a new adventure, a fresh perspective, and a world waiting to be explored. Step through our doors and embark on a journey through the realms of imagination and knowledge.
                            
                              <p></p>  
                            From the towering shelves filled with timeless classics to the cozy corners adorned with the latest bestsellers, the Book House is a sanctuary for book lovers of all ages. Lose yourself in the magic of fiction, unravel the mysteries of history, or delve into the depths of science and philosophy. Whatever your passion, you'll find it nestled within our walls..
                            
                          </p>
                        <a href="#">OverView</a>
                    </div>

                </section>

            </main>
            <%- include("layout/footer.ejs") %>